<div id="gg-stage"></div>
<app-dashboard *ngIf="!!(runner?.controlCar$ | async)" [car]="(runner?.controlCar$ | async)"></app-dashboard>
<div class="screen-text app-helper" *ngIf="showHelpText">
    <span>FLY MODE CONTROLS</span>
    <span>Click on page and move mouse to look around (ESC to exit)</span>
    <span>WASD/Arrow keys to fly</span>
    <span>Q/E keys to fly up/down</span>
    <span>Z/C keys to change camera FOV</span>
    <span>F key to enter nearest car</span>
    <span>DRIVE MODE CONTROLS</span>
    <span>WASD/Arrow keys to handle car</span>
    <span>Caps Lock/Shift keys to change gears (R/N/D)</span>
    <span>C key to change camera</span>
    <span>R key to reset car</span>
    <span>F key to leave car</span>
    <span>H key to honk</span>
    <span></span>
    <span>X to toggle this text</span>
    <span>P to toggle pause</span>
    <span>L to reload level</span>
</div>
<div class="screen-text paused-text" *ngIf="paused">
    PAUSED
</div>
