.screen-text {
    z-index: 5;
    position: absolute;
    color: white;
    font-family: monospace;
    text-shadow: 0.05rem 0 0 #000, 0 -0.05rem 0 #000, 0 0.05rem 0 #000, -0.05rem 0 0 #000;
    font-weight: bold;
    display: flex;
    pointer-events: none;
}

app-dashboard {
    pointer-events: none;
}

.app-helper {
    font-size: larger;
    padding: 1rem;
    flex-direction: column;
    row-gap: 0.5rem;
}

.paused-text {
    font-size: 5rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
    justify-content: space-around;
}
